.plans-add-to-cart > a:hover {
    color: #fff;
}

.plans-add-to-cart > a {
    color: #fff;
    text-decoration: none;
}

.btn-green:hover {
    background: rgb(20, 77, 0);
}

@media only screen and (max-width: 576px) {
    .plan-cart {
        margin-bottom: 16px;
    }

    .plan-main {
        width: 100%;
        padding: 16px;
    }

    .plan-alter {
        display: none;
    }

    .plan-cart::after {
        display: none;
    }

    .plan-main-shodow {
        display: none;
    }

    .plan-main:after {
        display: none;
    }

}

.login-page > #nav-menu {
    position: fixed;
    width: 100%;
}

.login-box label {
    display: block;
}

.login-box input {
    display: block;
    width: 100%;
    padding: 8px;
}

.login-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.login-box a.alearly-acount {
    color: #fff;
    margin-top: 16px;

    display: block;
}

.login-box {
    background: rgba(
        0,
        0,
        0,
        0.8) !important;
}

.w-unset {
    width: unset !important;
}

.plans-add-to-cart.btn-green {
    padding: 0;
}

.deposit-number {
    width: 80px;
}

.deposit-text {
    margin-left: 20px;
}

.deposit-number:focus,
.deposit-text:focus {
    outline: 0;
}

.deposit-number,
.deposit-text {
    display: inline-block;
    background: #F3F2F2;

    border: none;
    padding: 9px;
    max-width: 100%;
}

.plans-add-to-cart > a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    height: 100%;
    line-height: 67px;
}

.ptb-2 {
    padding-top: 9px;
    padding-bottom: 9px;
}

.cursor-pointer {
    cursor: pointer;
}

.Assignment-no > input,
.Assignment-no {
    cursor: pointer;
}

.assignment-active.Assignment-no-secto {
    border: 1px solid #B3865D;
}

.delete-deposit-btn > svg > path,
.delete-pase-btn > svg > path,
.delete-btn > svg > path {
    fill: #fff;
}

.delete-deposit-btn {

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #f04444;
    height: 29px;
    width: 29px;
    display: inline-block;
    vertical-align: top;

    line-height: 26px;
    text-align: center;

    cursor: pointer;

}

.delete-pase-btn {
    position: absolute;
    right: 5px;
    top: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #f04444;
    height: 29px;
    width: 29px;
    display: inline-block;
    vertical-align: top;

    line-height: 26px;
    text-align: center;

    cursor: pointer;

}

.delete-btn {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #f04444;
    height: 29px;
    width: 29px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    line-height: 29px;
    text-align: center;
    padding-left: 2px;
    cursor: pointer;
    margin-top: 5px;
}

.assignment-active.Assignment-no {
    background: #B3865D;
    color: #fff;
    border: 1px solid #B3865D;

}

.phase-section {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 86px;
}

.phase-section > p {
    padding-right: 40px;
}

.profile-radio-custom label {
    margin-bottom: 0 !important;
    cursor: pointer;
}

.calender-btn {
    background: #B3865D !important;
    color: #fff !important;
    border: 0 !important;
    padding: 11px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    font-family: 'mazzard_m_regular' !important;
    margin-right: 15px !important;
    cursor: pointer;
    width: 300px !important;
    display: inline-block !important;
}

.date-input {
    border: 0;
    padding: 10px;
    background: #F3F2F2;
}

.filepond--credits {
    display: none !important;
}

.uploader {
    background: #F1F0EF;
    border: 0;
    padding: 60px 30px;
}

.prolect-not-foun-c:hover {
    color: #B3865D;
}

.prolect-not-foun-c {

}

.admin-build-cart-btn-orange:hover {
    background: #7a4b00;
}

.admin-build-cart-btn-orange {
    background: #FF9900;
    padding: 15px 0px !important;
    box-shadow: 0px 20px 46px 0px rgba(179, 134, 93, 0.51);
    width: 220px;
    text-align: center;
}

.admin-build-cart-btn-brown:hover {
    background: #463423;
}

.admin-build-cart-btn-brown {
    width: 220px;
    background: #B3865D;
    padding: 15px 0px !important;
    box-shadow: 0px 20px 46px 0px rgba(179, 134, 93, 0.51);
    text-align: center;

}

.admin-build-cart-btn-sec > a {
    margin-right: 10px;
}

#deposit-sec-maker {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
}

.deposit-cart > p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'mazzard_m_regular';
}

.deposit-cart {
    box-shadow: 0px 4px 38px 3px rgba(0, 0, 0, 0.13);
    text-align: center;
    display: inline-block;
    padding: 12px;
    flex: 1 0 13%; /* explanation below */
    margin-bottom: 16px;
}

.deposit-cart-seprator {
    flex: 1 0 13%; /* explanation below */
    align-content: center;
    justify-items: center;
    display: flex;
    margin-bottom: 16px;
}


.deposit-cart-seprator:last-child,
.deposit-cart-seprator:nth-child(8),
.deposit-cart-seprator:nth-child(16) {
    display: none;
}

.error-text {
    font-size: 16px !important;
}

.phase-section > p {

}

.image-wrraper {
    width: 219px;
}

.preview_image img {
    /*width: 100%;*/
}

.image-wrraper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 16px;

}

.uploader.small {
    padding-top: 0px;
    padding-bottom: 7px;
}

/*.filepond--drop-label{*/
/*    min-height: 250px!important;*/
/*}*/
.image_box img {
    width: 100%;
}

.total-deposit {
    display: inline-block;
    background: rgba(179, 134, 93, 1);
    color: #fff;
    width: 46px;
    height: 39px;
    text-align: center;
    line-height: 39px;
    margin-right: 11px;
    vertical-align: top;
}

.view-deposit-tab-btn {
    background: rgba(74, 85, 104, 1);
    color: #fff;
    line-height: 39px;
    height: 39px;
    display: inline-block;
    padding-right: 11px;
    padding-left: 11px;
    margin-bottom: 0;
}

.fz-14 {
    font-size: 14px;
}

.overview {
    padding: 35px;
}

.overview-item-head > p {
    margin-bottom: 0;
    font-size: 14px;
    color: rgba(74, 85, 104, 1);

}

.overview-item-head {
    margin-bottom: 14px;
}

.overview-item-body {
    margin-bottom: 22px;
}

.overview-item-body-gray {
    background: rgba(241, 240, 240, 1);

    color: rgba(74, 85, 104, 1);

    line-height: 39px;
    height: 39px;
    display: inline-block;
    padding-right: 11px;
    padding-left: 11px;
    margin-bottom: 0;

}

.overview-item-body-item-brown {
    display: inline-block;
    background: rgba(179, 134, 93, 1);
    color: #fff;
    padding-right: 11px;
    padding-left: 11px;
    height: 39px;
    text-align: center;
    line-height: 39px;
    margin-right: 11px;
    vertical-align: top;

}

.overview-item-body > * {
    font-size: 14px;

    font-weight: 500;
    font-family: 'mazzard_m_regular';
}

.view-deposit-tab-btn {
    cursor: pointer;
}

.promotion {
    padding: 25px;
}

.promotion-text-ui {
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    font-family: 'mazzard_m_light';
    text-align: justify;
    color: #979797;
}

.unit {
    padding: 17px;
}

.unit > ul > li > p:nth-child(1) {
    padding-left: 0 !important;
}

.unit > ul > li > p:last-child {
    text-align: right;
}

.unit > ul > li > p {
    flex: 0 0 calc(100% / 7);
    line-height: 39px;
    margin-bottom: 0;
    font-size: 13px;
    border-right: 1px solid rgba(225, 225, 225, 1);
    padding-left: 15px;
}

.feature-box > div {
    display: inline-block;
}

.feature > .row > div {
    margin-bottom: 20px;
}

.feature {
    padding: 35px;
}

.feature p {
    font-size: 14px;
    display: inline-block;
    margin-left: 7px;
    color: #000;
    font-weight: 500;
    font-family: 'mazzard_m_regular';
    line-height: 17px;
}

.feature-other-title {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    font-family: 'mazzard_m_regular';
    margin-bottom: 11px;
    margin-left: 0 !important;
}

.other-feature {
    display: inline-block;
    padding: 11px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    border: 1px solid #4A5568;
    color: #4A5568;
    background: #F1F0F0;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    font-family: 'mazzard_m_regular';
    margin-bottom: 11px;
    margin-right: 21px;
    min-width: 70px;
    text-align: center;

}
.deposit-structure{
    padding: 35px;
}
#deposit-all-show > img{
    width: 100%;
}
.deposit-all-show-text{
    text-align: center;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    line-height: 18px;
    font-family: 'mazzard_m_regular';
}
.deposit-cart-ui > p{
    color: #000;
    font-size: 16px;
    line-height: 18px;
    font-family: 'mazzard_m_regular';
    margin-bottom: 0;
    font-weight: 500;
}
.deposit-cart-ui{
    padding-top: 20px;
    padding-bottom: 20px;
}
